<!DOCTYPE html>
<html lang="en" ng-app="fwiends">
<head>
 <meta charset="UTF-8">
 <title>mini-MyFirstAngular</title>
 <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="mainCtrl">

 <div class="master-container">
   <h1 class="heading">ngFwiends</h1>

   <ul class="friends-list-container">
     <li class="friend" ng-repeat="fwiend in myFwiends"> {{ fwiend }} </li>
   </ul>

   <div class="add-friend-container">
     <input type="text" ng-model="newFwiend">
     <button ng-click="addFriend(newFwiend)">+</button>
   </div>
 </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/main-controller.js"></script>

</body>
</html>
